data.json
{
  "nodes": [
    {
      "parameters": {
        "host": "ftp.example.com",
        "port": 21,
        "username": "your_username",
        "password": "your_password",
        "operation": "Download",
        "fileName": "historia-clinica.png",
        "directory": "/path/to/file"
      },
      "id": "1",
      "name": "FTP - Descargar Historia Clínica",
      "type": "n8n-nodes-base.ftp",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "functionCode": "const fs = require('fs');\nconst { execSync } = require('child_process');\n\nconst pathFile = '/tmp/historia-clinica.png';\nconst outputFile = '/tmp/output.txt';\n\n// Guardar archivo binario temporalmente\nfs.writeFileSync(pathFile, Buffer.from(items[0].binary.data.data, 'base64'));\n\n// Ejecutar Tesseract OCR (idioma español)\nexecSync(`tesseract ${pathFile} /tmp/output -l spa`);\n\n// Leer texto extraído\nconst texto = fs.readFileSync(outputFile, 'utf8');\n\n// Borrar archivos temporales\nfs.unlinkSync(pathFile);\nfs.unlinkSync(outputFile);\n\nreturn [{ json: { text: texto } }];"
      },
      "id": "2",
      "name": "Ejecutar Tesseract OCR",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [500, 300]
    },
    {
      "parameters": {
        "url": "http://tu-servidor:8000/procesar",
        "method": "POST",
        "jsonParameters": true,
        "options": {},
        "body": "{ \"text\": \"{{$json[\"text\"]}}\" }"
      },
      "id": "3",
      "name": "API Python - Extraer Datos",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [750, 300]
    },
    {
      "parameters": {
        "functionCode": "return [{\n  json: {\n    id: items[0].json.id,\n    nombre: items[0].json.nombre,\n    edad: items[0].json.edad,\n    diagnostico: items[0].json.diagnostico,\n    fechaConsulta: items[0].json.fechaConsulta,\n    direccion: items[0].json.direccion,\n    telefono: items[0].json.telefono,\n    observaciones: items[0].json.observaciones\n  }\n}];"
      },
      "id": "4",
      "name": "Formatear Historia",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [1000, 300]
    },
    {
      "parameters": {
        "operation": "insert",
        "table": "historias_clinicas",
        "columns": "id,nombre,edad,diagnostico,fechaConsulta,direccion,telefono,observaciones"
      },
      "id": "5",
      "name": "MySQL - Guardar",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 1,
      "position": [1250, 300],
      "credentials": {
        "mySql": "MySQL Account"
      }
    }
  ],
  "connections": {
    "FTP - Descargar Historia Clínica": {
      "main": [
        [
          {
            "node": "Ejecutar Tesseract OCR",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ejecutar Tesseract OCR": {
      "main": [
        [
          {
            "node": "API Python - Extraer Datos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "API Python - Extraer Datos": {
      "main": [
        [
          {
            "node": "Formatear Historia",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formatear Historia": {
      "main": [
        [
          {
            "node": "MySQL - Guardar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
